<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Runningman!</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Running -> man</h1>
        </div>
        <div class='output'></div>
        <form action='/guess' method="post">
            <input type="text" name="guessLetter" placeholder="Guess a letter">
            <button class="btn">Guess!</button>
        </form>
    </div>
</body>
</html>
